span{
    border: 1px solid black;
    font-size: 16px;
    font-weight: 700;
    margin: 4px;
    padding: 8px;
    justify-content: center;
    vertical-align: middle;
    width: 29px;
    height: 29px;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    display: inline-flex;
    align-items: center;
    }


    .correct{
        background-color: green;
        color: #fff;
    }

    .incorrect{
        background-color: grey;
        color: #fff;
    }

    .partial{
        background-color: orange;
        color: #fff;
    }

    .empty{
        color: #000;
    }